<!DOCTYPE html>
<html lang="de" role="application" data-rh="true">
  <head>
    <meta charset="utf-8" />
    <title data-rh="true">mHealth</title>
    <link href="https://fonts.googleapis.com/css2?family=Amatica+SC&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
